body {
    font-family: Arial, sans-serif;
    background: #14130e;
    color: #D8CFBC;
    text-align: center;
    margin: 0;
    position: relative; 

}

.logo_img {
    max-width: 130px;
    max-height: 110px;
    padding: 5px;
    display: block; 
    text-align: left;

}

.home {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 80px; 
    right: 120px;
    cursor: pointer;
    margin: 0 auto;
    background: #14130e;
    color: #bbb2a1; 
    border: none;
}

.home:hover{
    text-decoration-line: underline;
    color: #635745
}

.hobbies { 
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 80px; 
    right: 10px;
    cursor: pointer;
    margin: 0 auto;
    background: #14130e;
    color: #bbb2a1; 
    border: none;
}

.hobbies:hover{
    text-decoration-line: underline;
    color: #635745
}


.heading_block {
    border-bottom: 2px solid #D8CFBC;
    position: relative;
    padding: 3px 0;
}

.opener_image {
    width: 100%;
    position: relative;
    height: 350px;
    object-fit: cover;
    border-bottom: 2px solid #D8CFBC;
    border-left: 2px solid #D8CFBC;
    border-right: 2px solid #D8CFBC;
    background: transparent;
}

.container {
    background: rgb(174, 107, 7);
    height: 260px;
    width: 10px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 3px;

}
.header{
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #D8CFBC;
    padding: 10Px;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.main_p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    padding: 2px 2px;
}