.slide-in {
      opacity: 0;
      transform: translateY(-5vh);
      transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.slide-in.active {
      opacity: 1; 
      transform: translateY(0);
}
 
body {
    font-family: Arial, sans-serif, Times New Roman;
    background: #14130e;
    color: #D8CFBC;
    text-align: center;
    position: relative; 
    
}

main{
    padding-top: 100px;
}

.island_nav {
    position: fixed;
    height: 40px;
    border-radius: 10px;
    background: #1c1a14;
    width: fit-content;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;

}

.home, .hobbies, .projects {
    font-size: 0.9rem;
    margin: 10px;
    margin-top:auto;
    margin-bottom: auto;
    font-weight: bold;
    cursor: pointer;
    color: #bbb2a1;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home:hover, .hobbies:hover, .projects:hover {
    color: #635745;
    transform: translateY(-0.7vh);
}

.opener_image {
    width: 100%;
    position: relative;
    max-height: 350px;
    object-fit: cover;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 3px;
    
}

.header{
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #D8CFBC;
    padding: 10px;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.main_p {
    font-size: 18px;
    font-family: Times;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 2px 2px;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding: 10px 10px;
    gap: 1rem;
    justify-content: center; 
    grid-auto-flow: dense;
    
}

.grid-item-small,
.grid-item-large {
    background: #1d1c16;
    border-radius: 1rem;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.grid-item-small {
    flex: 0 1 300px;
    min-width: 200px;
    max-width: 300px;
}

.grid-item-large {
    flex: 1 1 100%;
    width: 100%;
}

.grid-item-small img,
.grid-item-large img{
    width: 100%;
    height: 80%;
    border-radius: 1rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
    object-position: center;


}

.grid-text {
    font-weight: bold;
    margin: 10px 10px;
    text-align: center;
    color: #D8CFBC;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.grid-item-small:hover,
.grid-item-large:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(29, 28, 28);
}

.hover-text{
    position: absolute;
    left: 5%;
    width: 90%;
    color: #D8CFBC;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

/* large screens */
@media (min-width: 950px) {
    .island_nav{
        margin-left: 50px
    }
    
    .grid{
        grid-template-columns: repeat(3, 300px);
        max-width: 1000px;
        margin: 0 auto;
    }

    .grid-item-small {
        grid-column: span 1;
        width: 100%;
        max-width: 500px;
        min-width: unset;
    }


     .grid-item-large {
        grid-column: span 2;
    }

    .tap-hint {
        display: none;
        visibility: hidden;
    }

    .grid-item-small:hover img, 
    .grid-item-small:hover .grid-text,
    .grid-item-large:hover img,
    .grid-item-large:hover .grid-text {
        opacity: 0;
        transition: opacity 0.5s ease-in-out !important;
    }
    
    .grid-item-small:hover .hover-text,
    .grid-item-large:hover .hover-text {
        opacity: 1;
        visibility: visible;

    }
}

/* mobile/tablet - cards stack */
@media (max-width: 949px) {
    .island_nav{
        margin-left: 50px
    }

    .grid{
        grid-template-columns: 1fr;
        padding: 10px 20px;
        justify-items: center;
    }
    
    .tap-hint {
        display: block;
    }
    
    .grid-item-small {
        grid-column: span 1;
        width: 100%;
        max-width: 500px;
        min-width: unset;
    }

    .grid-item-large {
        grid-column: span 1;
        max-width: 500px;
        min-width: unset;
    }

    .grid-item-small.clicked img, 
    .grid-item-small.clicked .grid-text,
    .grid-item-large.clicked img,
    .grid-item-large.clicked .grid-text { 
        opacity: 0;
        transition: opacity 0.5s ease-in-out !important;
    }
    
    .grid-item-small.clicked .hover-text,
    .grid-item-large.clicked .hover-text {
        opacity: 1;
        visibility: visible;

    }
    
    .grid-item-small.clicked .tap-hint,
    .grid-item-large.clicked .tap-hint {
        display: none;
    }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
}


.tap-hint {
    top: 10px;
    right: 10px;
    color: #D8CFBC;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    animation: pulse 2s infinite;
    z-index: 10;
}

.in_progress {
    border: 5px solid #bbb2a1;
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
}