@keyframes fade-slide-in {
        from { opacity: 0;
        transform: translateY(-10vh); }
        to { opacity: 1;
        transform: translateY(0); }

}

body {
    font-family: Arial, sans-serif;
    background: #14130e;
    color: #D8CFBC;
    text-align: center;
    margin: 0;
    position: relative; 
    animation: fade-slide-in 2s ease-out forwards;
    animation-timeline: scroll();

}

.nav{
    border-bottom: 2px solid #D8CFBC;
    position: relative;
    padding: 3px 0;
}

.logo_img {
    width: 130px;
    height: 110px;
    aspect-ratio: auto;
    padding: 5px;
    display: block; 
    text-align: left;

}

.home {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 80px; 
    right: 230px;
    cursor: pointer;
    color: #bbb2a1; 
}

.home:hover{
    color: #635745
}

.hobbies { 
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 80px; 
    right: 120px;
    cursor: pointer;
    color: #bbb2a1; 
}

.hobbies:hover{
    color: #635745
}

.projects{
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 80px; 
    right: 10px;
    cursor: pointer;
    color: #bbb2a1; 
}
.projects:hover {
    color: #635745
}


.opener_image {
    width: 100%;
    position: relative;
    height: 350px;
    object-fit: cover;
    border-bottom: 2px solid #D8CFBC;
    border-left: 2px solid #D8CFBC;
    border-right: 2px solid #D8CFBC;
    background: transparent;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 3px;
}

.header{
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #D8CFBC;
    padding: 10Px;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.main_p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 2px 2px;
}

.img_text_container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
    transition: 1.0s ease-in;
}

.img_left {
    width: 400px;
    flex-shrink: 0;
    border: 5px solid #bbb2a1;
    aspect-ratio: auto;
}

.img_p_left {
    flex: 1 1 300px;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;
}

.img_text_container_r {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.img_right {
    width: 400px;
    flex-shrink: 0;
    border: 5px solid #bbb2a1;
    aspect-ratio: auto;
}

.img_p_right {
    flex: 1 1 300px;
    font-size: 16px;
    text-align: right;
    line-height: 1.6;

}