@keyframes fade-slide-in {
        from { opacity: 0;
        transform: translateY(-10vh); }
        to { opacity: 1;
        transform: translateY(0); }

}
 
body {
    font-family: Arial, sans-serif;
    background: #14130e;
    color: #D8CFBC;
    text-align: center;
    position: relative; 
    animation: fade-slide-in 1.5s ease-in-out;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #D8CFBC;
    padding: 0 0px;
    width: 100%;
    box-sizing: border-box;
}

.logo_img {
    max-width: 120px;
    max-height: 100px;
    aspect-ratio: auto;
}

.home, .hobbies, .projects {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #bbb2a1;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: auto;
    margin-bottom: 20px;
}

.home{
    margin-left: auto;
}

.home:hover, .hobbies:hover, .projects:hover {
    color: #635745;
}

.opener_image {
    width: 100%;
    position: relative;
    max-height: 350px;
    object-fit: cover;
    border-bottom: 2px solid #D8CFBC;
    border-left: 2px solid #D8CFBC;
    border-right: 2px solid #D8CFBC;
    background: transparent;

}

h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 3px;
    
}

.header{
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #D8CFBC;
    padding: 10px;
    max-width: 900px;
    text-align: center;
    margin: auto;
    
}

.main_p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 2px 2px;
    
}

.img_text_container_r {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.img_left {
    width: 400px;
    flex-shrink: 0;
    border: 5px solid #bbb2a1;
    aspect-ratio: auto;
    
}

.img_p_left {
    flex: 1 1 300px;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;

}


.img_right {
    max-width: 400px;
    flex-shrink: 0;
    border: 5px solid #bbb2a1;
    aspect-ratio: auto;
    
}

.img_p_right {
    flex: 1 1 300px;
    font-size: 16px;
    text-align: right;
    line-height: 1.6;
    

}

.in_progress {
    border: 5px solid #bbb2a1;
    margin-top: 50px;
    max-width: fit-content;
    max-height: fit-content;
}