@keyframes fade-slide-in {
        from { opacity: 0;
        transform: translateY(-5vh); }
        to { opacity: 1;
        transform: translateY(0); 
        visibility: visible;
    }

}

.slide-in {
      opacity: 0;
      transform: translateY(-5vh);
      transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.slide-in.active {
      opacity: 1; 
      transform: translateY(0);
}
 
body {
    font-family: Arial, sans-serif, Times New Roman;
    background: #14130e;
    color: #D8CFBC;
    text-align: center;
    position: relative; 
    
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #D8CFBC;
    padding: 0 0px;
    width: 100%;
    box-sizing: border-box;
}

.logo_img {
    max-width: 120px;
    max-height: 100px;
    aspect-ratio: auto;
}

.home, .hobbies, .projects {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: #bbb2a1;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: auto;
    margin-bottom: 20px;
}

.home{
    margin-left: auto;
}

.home:hover, .hobbies:hover, .projects:hover {
    color: #635745;
}

.opener_image {
    width: 100%;
    position: relative;
    max-height: 350px;
    object-fit: cover;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 3px;
    
}

.header{
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 2px solid #D8CFBC;
    padding: 10px;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.main_p {
    font-size: 18px;
    font-family: Times;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 2px 2px;
    
}

.grid{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    
}

.grid-item {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #2e2c23;
    padding: 0 1rem;
    border-radius: 1rem;
    position: relative;
}

.grid-item img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 1rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.grid-text {
    font-weight: bold;
    margin: 10px 10px;
    color: #D8CFBC;
    opacity: 1;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hover-text{
    position: absolute;
    text-align: center;
    width: 90%;
    background: #2e2c23;
    color: #D8CFBC;
    opacity: 0;
    visibility: hidden;
}


/* computer hover */
@media (min-width: 769px) {
    .grid-item:hover img, 
    .grid-item:hover .grid-text {
        opacity: 0;
    }
    
    .grid-item:hover .hover-text {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }
}

/* mobile tap */
@media (max-width: 768px) {
    .grid-item.clicked img,
    .grid-item.clicked .grid-text {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .grid-item.clicked .hover-text {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease-in-out;
    }
    
    .grid-item.clicked .tap-hint {
        display: none;
    }

}

@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
}


.tap-hint {
    top: 10px;
    right: 10px;
    color: #D8CFBC;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: bold;
    animation: pulse 2s infinite;
    z-index: 10;
}

.in_progress {
    border: 5px solid #bbb2a1;
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
}